<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map
          [style.height.px]="height"
          [latitude]="latitude"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          [longitude]="longitude">
          <agm-marker 
          [latitude]="latitude"
         [longitude]="longitude">
           <agm-info-window>
             <strong>{{address}}</strong>
           </agm-info-window>
         </agm-marker>
         
    <agm-marker *ngFor="let m of markers"
     [latitude]="m.latitude"
    [longitude]="m.longitude">
      <agm-info-window>
        <strong>{{m.address}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
